- 서비스 이용자는 회원가입을 할 수 있다.
- 사용자는 로그인을 할 수 있다.
- 사용자는 연예인 인증을 요청할 수 있다.
- 요청이 수락되면 연예인으로 서비스를 이용가능하다.
- 연예인은 소속사에 소속될 수도 있고 아닐 수도 있다.
- 연예인은 여러 채널을 만들 수 있다.
- 채널은 공개, 비공개 설정이 가능하다.
- 연예인은 채널에서 여러 구독권을 만들어 팔 수 있다.
- 사용자는 채널에서 판매하는 구독권을 구매할 수 있다.
- 사용자는 사용자가 판매하는 구독권을 구매할 수 있다.
- 사용자는 구독권을 판매할 수 있다.
- 구독권이 있는 사용자는 채널의 팬이 된다.
- 공개 채널의 경우 채널 검색 했을 시에 조회된다.
- 비공개 채널의 경우 구독권을 가진 사용자만 조회 가능하다.
- 사용자는 채널의 구독권에 대해서 정보를 조회할 수 있다.
- 연예인은 채널에서 게시글을 쓸 수 있다.
- 게시글은 팬 또는 채널의 주인만 조회가 가능하다.
- 게시글에는 댓글을 달 수 있다.
- 연예인은 채널에서 방송을 할 수 있다.(데이터베이스에 기록만 됨)
- 사용자는 채팅방을 만들 수 있다.
- 사용자는 채팅방에서 사용자들과 채팅을 할 수 있다.
- 방송에서도 채팅을 할 수 있다.